// fonts
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.ttf') format('truetype'),
       url('../fotns/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

// general
html, input, textarea, select, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
	&:hover,
	&:focus{
		text-decoration: none;
	}
}
strong{
	font-weight: 600;
}
h1{
	text-transform: uppercase;
	margin-bottom: 30px;
}
table{
	.btn{
		text-transform: uppercase;
		&.btn-primary{
			&:hover,
			&:focus{
				color: @white;
				background: @black;
			}
		}
	}
}
form{
	fieldset{
		margin-bottom: 30px;
		padding: 20px;
		border: 1px solid @gray-lighter;
		&.general{
			border: none;
			background: #f9f9f9;
			legend{
				background: #f1f1f1;
				border-radius: 6px;
				border: 1px solid @white;
			}
		}
	}
	legend{
		border: none;
		margin: 0;
		padding: 0 10px;
		font-size: 24px;
		font-weight: 600;
		width: auto;
	}
	.required{
		font-size: 12px;
		color: @gray-light;
		margin-bottom: 30px;
	}
	.file{
		.selector{
			padding: 12px 20px;
			margin-bottom: 5px;
			border-radius: 6px;
			background: @gray-lighter;
			line-height: 1;
			color: @gray-light;
			font-size: @font-size-small;
		}
	}
	.checkbox{
		margin-bottom: 5px
	}
	select{
		&.form-control{
			color: #999999!important;
		}
	}
	span{
		color: @brand-primary;
		font-weight: 600;
	}
	.info{
		margin-top: 10px;
		font-size: 12px;
		color: @gray;
		&:before{
			content: "\f05a";
			font-family: "FontAwesome";
			font-weight: normal;
			font-style: normal;
			color: @gray-light;
			display: inline-block;
			text-decoration: inherit;
			padding-right: 10px;
		}
		&.file:before{
			content:"";
		}
	}
}

.form-group{
	.form-col{
		display:block;
		width:100%;
		&~ .form-col{
			display:inline-block;
			width:24%;
		}
	}
}

.gallery{
	margin: 30px 0 20px 0;
	padding-top: 20px;
	font-size: 16px;
	font-weight: 600;
	color: @black;
	text-transform: uppercase;
	border-top: 1px solid @white;
}
.remove-list{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		margin: 5px 0 10px 25px;
		padding: 0;
		line-height: 1;
		cursor: pointer;
		&:before{
			content: "\f00d";
			font-family: "FontAwesome";
			font-weight: 500;
			font-style: normal;
			font-size: 16px;
			line-height: 1;
			color: @brand-danger;
			display: inline-block;
			text-decoration: inherit;
			padding: 0 25px 0 0;
			position: absolute;
			margin-left: -25px;
			cursor: pointer;
		}
	}
	&.categoriesfeatured{
		overflow: hidden;
		li{
			margin-top:0;
			margin-bottom:0;
			float: left;
			width: 100%;
			cursor: auto;
			margin-left:0;
			&:before{
				content: normal;
				padding:0;
				marging:0;
				cursor: auto;
			}
			label{
				&.eraser{
					&:before{
						float:left;
						margin-left: -25px;
						content: "\f00d";
						font-family: "FontAwesome";
						font-weight: 500;
						font-style: normal;
						font-size: 16px;
						line-height: 1;
						color: @brand-danger;
						display: inline-block;
						text-decoration: inherit;
						padding: 0 25px 0 0;
						position: absolute;
						cursor: pointer;
					}
				}
				cursor: pointer;
				padding-left:25px;
				font-weight: 100;
				float:left;
				display:inline-block;
				&.checkbox{
					cursor: auto;
					padding-left:0;
					margin-top:0;
					float:right;
					margin-right:10px;
					input{
						margin-top:0;
						margin-bottom:0;
						position:relative;
						margin-left:10px;
						margin-right:10px;
					}
				}
			}
			
		}
	}
}


// grind
.full-container{
	width: 100%;
}
.img-responsive{
	width:100%
}

// buttons
button{
	&:focus{
		outline:0 !important;
	}
}
.btn{
	.transition(all .2s);
}
.plus{
	&:before{
		content: "\f067";
		font-family: "FontAwesome";
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
		padding-right: 10px;
	}
}
.down{
	&:before{
		content: "\f063";
		font-family: "FontAwesome";
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
		padding-right: 10px;
	}
}
.back{
	&:before{
		content: "\f104";
		font-family: "FontAwesome";
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
		padding-right: 10px;
	}
}
.btn-primary{
	&:hover{
		background-color: @gray-lighter;
		border-color: @gray-lighter;
		color: @gray;
	}
	&:focus{
		background-color: @brand-primary;
		border-color: @brand-primary;
		color: @black;
	}
	&:active{
		.box-shadow(inset 0 0 5px #e2e2e2);
	}
}
.link-add{
	text-align: right;
	margin-top: 30px;
}

// form .has-error for checkboxes and files
.has-error{
	.checkbox label, &.file .selector{
		@color-rgba: rgba(red(@input-border-focus), green(@input-border-focus), blue(@input-border-focus), .6);
		border-color: @input-border-focus;
		outline: 0;
		.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
	}
	.checkbox label{
		padding: 3px 5px 3px 25px;
		margn-top: 8px;
	}
}
span.has-error{
	&.file-input .selector{
		@color-rgba: rgba(red(@input-border-focus), green(@input-border-focus), blue(@input-border-focus), .6);
		border-color: @input-border-focus;
		outline: 0;
		.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
	}
}


.gallerynextimage{
	display:block;
	width:100%;
	border-bottom: 1px solid @gray-lighter;
	margin-bottom:15px;
}
div.js-fileuploads{position:relative;}
div.js-fileuploads:after {content: " ";display:block;position: relative;height: 15px;width: 100%;border-top: 1px solid @white;}
.newimagebutton{
	margin-top:5px;
}


// header
header{
	.navbar{
		border: 0;
		margin: 50px 0;
		border-radius: 0;
		&.navbar-default{
			background: none;
			border: none;
		}
		.navbar-header{
			float: left;
			margin: 0 0 50px 0;
			#logo{
				width: 251px;
				height: 63px;
				margin: 0;
				padding: 0;
				float: left;
				a{	
					.transition(all .2s);
					line-height:30px;
					display: block;
					float: left;
					width: 251px;
					height: 63px;
					margin: 0;
					background: url('../img/all/logo-cms.png') no-repeat left top;
					span{
						display: none;
					}
				}
			}
		}
		.profile{
			float: right;
			.data{
				float: left;
				margin-right: 20px;
				text-align: right;
				.name{
					margin: 0;
					font-weight: 600;
				}
				.exit{
					margin: 0;
					a{
						font-size: 12px;
						font-weight: 600;
						color: #B94A48;
						&:before{
							content: "\f00d";
							font-family: "FontAwesome";
							font-weight: normal;
							font-style: normal;
							display: inline-block;
							text-decoration: inherit;
							padding-right: 5px;
						}
					}
				}
			}
			.avatar{
				float: left;
				margin-right: 50px;
			}
			.website{
				float: left;
			}
		}
		.menu{
			background: @gray-lighter;
		}
		.navbar-collapse{
			padding: 0;
			#nav-main{
				text-transform: uppercase;
				ul{
					margin: 0;
					padding: 0;
					li{
						margin-right: 30px;
						a{
							.transition(all .2s);
							line-height: 46px;
							font-size: 16px;
							font-weight: 600;
							color: @gray;
							padding: 10px 20px;
							&:hover,
							&:focus{
								color: @gray-light;
							}
							&.active{
								color: @black;
								background: @white;
							}
						}
						&:last-child{
							margin-right: 0;
						}
						&.dropdown{
							ul{
								li{
									margin: 0;
									a{
										font-size: 14px;
										line-height: 26px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
// footer
footer{
	margin-bottom: 100px;
	.nav-footer{
		padding: 30px 0;
		margin: 50px 0;
		background: @gray-lighter;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 5px;
				color: @gray-dark;
				font-size: @font-size-small;
				line-height: 30px;
				a{
					.transition(all .2s);
					padding: 5px 10px;
					color: @gray-dark;
					&.active{
						color: @black;
						border-radius: 6px;
						background: @white;
					}
					&:hover,
					&:focus{
						color: @gray;
						border-radius: 6px;
						background: @white;
					}
				}
			}
		}
		#nav-tools{
			text-align: left;
		}
		#nav-version{
			text-align: right;
		}
	}
	.contact-info{
		margin: 0 auto;
		display: block;
		width: 600px;
		.logo{
			float: left;
			width: 70px;
			height: 78px;
			margin: 0 20px 0 0;
			padding-top: 0;
			padding-bottom: 0;
			a{	
				line-height: 30px;
				display: block;
				width: 70px;
				height: 78px;
				margin: 0;
				background: url('../img/all/logo-promueve-v.png') no-repeat left top;
				span{
					display: none;
				}
			}
		}
		.content{
			float: left;
			display: block;
			width: 510px;
			.address{
				font-weight: 300;
				font-style: italic;
				margin-bottom: 5px;
			}
			.phone{
				font-size: @font-size-large;
				font-weight: 300;
				margin-bottom: 5px;
				.prefix{
					color: #999999;
					font-weight: 300;
				}
				abbr{
					border-bottom: 0;
				}
				a{
					.transition(all .2s);
				}
			}
			.copy{
				font-size: 11px;
				color: @gray-light;
				margin-bottom: 5px;
			}
		}
	}
}

// extras
.nav-tabs{
	margin-bottom: 40px;
	a{
		border: none;
		font-weight: 600;
		color: #999;
		text-transform: uppercase;
		.transition(all .2s);
		&:hover,
		&:focus{
			background: #fbfbfb;
		}
	}
	li{
		&.active{
			a{
				font-weight: 600;
				color: @black;
			}
		}
	}
}

//login
#login{
	background: @gray-lighter;
	#logo{
		width: 251px;
		height: 63px;
		margin: 0 0 30px 0;
		padding: 0;
		float: left;
		a{	
			.transition(all .2s);
			line-height:30px;
			display: block;
			float: left;
			width: 251px;
			height: 63px;
			margin: 0;
			background: url('../img/all/logo-cms.png') no-repeat left top;
			span{
				display: none;
			}
		}
	}
	form{
		margin-top: 100px;
		padding: 40px;
		border-radius: 6px;
		border: 2px solid @white;
		background: @white;
		.box-shadow(inset 0 0 5px @gray-lighter);
	}
}

// home
#home{
	.welcome{
		margin-bottom: 50px;
		padding: 30px 50px;
		border-radius: 12px;
		background: @gray-lighter;
		.title{
			margin: 0 0 5px 0;
			font-size: 30px;
			font-weight: 600;
		}
		.subtitle{
			margin: 0;
			font-size: 20px;
			font-weight: 300;
			color: @gray-light;
		}
	}
	section{
		margin-bottom: 20px;
		padding: 60px 0;
		text-align: center;
		border: 1px solid @gray-lighter;
		border-radius: 6px;
		h3{
			margin: 0 0 30px 0;
			.number{
				font-size: 40px;
				line-height: 40px;
				font-weight: 600;
				color: @brand-primary;
			}
			.title{
				font-size: 40px;
				line-height: 40px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
}

// front
#front{
	table{
		i{
			margin-right: 20px;
			cursor: -webkit-grab;
		}
		.btn{
			text-transform: uppercase;
		}
		.btn-primary{
			&:hover,
			&:focus{
				color: @white;
				background: @black;
			}
		}
	}
}

// contact
#contact{
	.list{
		margin-bottom: 30px;
		color: @gray-darker;
		font-size: 14px;
		padding: 0;
		width: auto;
		border-top: 1px solid #dedede;
		border-right: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		border-left: 2px solid #ffaa9f;
		li {
			list-style: none;
			border-bottom: 1px dotted #ccc;
			text-indent: 15px;
			height: auto;
			padding: 10px;
			.transition(all .2s);
			span{
				font-family: courier, monospace;
				color: @gray-light;
			}
			&:hover{
				background: @gray-lighter;
			}
		}
	}
}

// help
#help{
	.subtitle{
		font-size: 22px;
		font-weight: 300;
		color: @gray;
		margin-bottom: 40px;
	}
	form{
		margin-bottom: 40px;
	}
	.contact-data{
		padding: 20px 0 30px 40px;
		margin-bottom: 50px;
		border-radius: 6px;
		background: @gray-lighter;
		.title{
			margin: 20px 0 5px 0;
			color: @black;
			text-transform: uppercase;
		}
		.phone{
			font-size: 22px;
			font-weight: 300;
			.prefix{
				color: #999999;
			}
			a{
				.transition(all .2s);
				color: @gray-dark;
				&:hover,
				&:focus{
					color: @link-hover-color;
				}
			}
		}
		.email{
			font-size: 16px;
			font-weight: 300;
			a{
				.transition(all .2s);
				color: @gray-dark;
				&:hover,
				&:focus{
					color: @link-hover-color;
				}
			}
		}
	}
}

// error
#error{
	text-align: center;
	.fa{
		font-size: 300px;
		color: @brand-primary;
	}
	.subtitle{
		font-size: 26px;
		font-weight: 300;
		color: @gray-dark;
		margin-bottom: 40px;
	}
}

// Large grid
@media (max-width: @screen-lg-min) {
	header{
		.navbar{
			.navbar-collapse{
				#nav-main{
					ul{
						li{
							margin-right: 15px;
							a{
								font-size: 14px;
								padding: 10px 15px;
							}
						}
					}
				}
			}
		}
	}
}

// Medium grid
@media (max-width: @screen-md-min) {
	header{
		.navbar{
			.navbar-collapse{
				#nav-main{
					ul{
						li{
							margin-right: 0;
							a{
								font-size: 11px;
								padding: 10px 8px;
							}
						}
					}
				}
			}
		}
	}
	footer{
		.nav-footer{
			#nav-tools{
				text-align: center;
			}
			#nav-version{
				text-align: center;
			}
		}
	}
}

// Small grid
@media (max-width: @screen-sm-min) {
	header{
		.navbar{
			margin: 30px 0;
			.navbar-header{
				float: none;
				margin-bottom: 20px;
				#logo{
					width: 100%;
					float: none;
					a{	
						float: none;
						margin: 0 auto;
					}
				}
			}
			.profile{
				float: none;
				margin: 0 auto;
				width: 320px;
				.avatar{
					margin-right: 20px;
				}
			}
			.navbar-toggle{
				margin: 20px 0 0 0;
				width: 100%;
				border-radius: 0;
				border: 0;
				background: @brand-primary;
				color: @black;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				&:hover,
				&:focus{
					color: @white;
					background: @black;
				}
			}
			.menu{
				background: none;
			}
			.navbar-collapse{
				border-top: none;
				.box-shadow(none);
				float: none;
				padding: 0;
				margin: 0;
				#nav-main{
					float: none;
					margin: 0 0 20px 0;
					ul{
						li{
							margin: 0;
							a{
								border-bottom: 1px solid @gray-lighter;
								font-size: 14px;
								line-height: 34px;
								text-align: center;
								color: @gray-darker;
								background: @white;
								&:hover,
								&:focus{
									color: @gray-light;
								}
								&.active{
									color: @black;
									background: @gray-lighter;
									border-top: 1px solid @white;
								}
							}
						}
					}
				}
			}
		}
	}
	footer{
		.contact-info{
			width: 320px;
			.content{
				width: 230px;
				.address{
					span{
						display: block;
					}
				}
				.phone{
					span{
						display: block;
					}
				}
				.copy{
					span{
						display: block;
					}
				}
			}
		}
	}
	#front{
		.link{
			text-align: center;
			.btn{
				width: 100%;
			}
		}
	}
}

// Extra small grid
@media (max-width: @screen-xs-min) {
	header{
		.navbar{
			.profile{
				width: 280px;
				.data{
					margin-right: 10px;
				}
				.avatar{
					margin-right: 10px;
				}
				.website{
					.btn{
						font-size: 12px
					}
				}
			}
		}
	}
	footer{
		.contact-info{
			.content{
				width: 200px;
				.phone{
					font-size: @font-size-base;
				}
			}
		}
	}
}