// BASE PROMUEVE
$brand-primary:         $secondary;
$screen-xs-min:			480px;
$screen-sm-min:			767px;
$screen-md-min:			992px;
$screen-lg-min:         1200px;

// header
header{
	.navbar{
		border: 0;
		margin: 50px 0;
		border-radius: 0;
		&.navbar-default{
			background: none;
			border: none;
		}
		.navbar-header{
			float: left;
			margin: 0 0 50px 0;
			#logo{
				width: 251px;
				height: 63px;
				margin: 0;
				padding: 0;
				float: left;
				a{	
					@include transition(all, 0.2s);
					line-height:30px;
					display: block;
					float: left;
					width: 251px;
					height: 63px;
					margin: 0;
					background: url('../img/all/logo-cms.png') no-repeat left top;
					span{
						display: none;
					}
				}
			}
		}
		.profile{
			float: right;
			.data{
				float: left;
				margin-right: 20px;
				text-align: right;
				.name{
					margin: 0;
					font-weight: 600;
				}
				.exit{
					margin: 0;
					a{
						font-size: 12px;
						font-weight: 600;
						color: #B94A48;
						&:before{
							content: "\f00d";
							font-family: "FontAwesome";
							font-weight: normal;
							font-style: normal;
							display: inline-block;
							text-decoration: inherit;
							padding-right: 5px;
						}
					}
				}
			}
			.avatar{
				float: left;
				margin-right: 50px;
			}
			.website{
				float: left;
			}
		}
		.menu{
			background: $gray-100;
		}
		.navbar-collapse{
			padding: 0;
			#nav-main{
				text-transform: uppercase;
				ul{
					margin: 0;
					padding: 0;
					li{
						margin-right: 30px;
						a{
							@include transition(all, 0.2s);
							line-height: 46px;
							font-size: 16px;
							font-weight: 600;
							color: #555;
							padding: 10px 20px;
							&:hover,
							&:focus{
								color: #777;
							}
							&.active{
								color: $black;
								background: $white;
							}
						}
						&:last-child{
							margin-right: 0;
						}
						&.dropdown{
							ul{
								li{
									margin: 0;
									a{
										font-size: 14px;
										line-height: 26px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// footer
footer{
	margin-bottom: 100px;
	.nav-footer{
		padding: 30px 0;
		margin: 50px 0;
		background: $gray-100;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 5px;
				color: #454545;
				font-size: 12px;
				line-height: 30px;
				a{
					@include transition(all, 0.2s);
					padding: 5px 10px;
					color: #454545;
					&.active{
						color: $black;
						border-radius: 6px;
						background: $white;
					}
					&:hover,
					&:focus{
						color: #555;
						border-radius: 6px;
						background: $white;
					}
				}
			}
		}
		#nav-tools{
			text-align: left;
		}
		#nav-version{
			text-align: right;
		}
	}
	.contact-info{
		margin: 0 auto;
		display: block;
		width: 600px;
		.logo{
			float: left;
			width: 70px;
			height: 78px;
			margin: 0 20px 0 0;
			padding-top: 0;
			padding-bottom: 0;
			a{	
				line-height: 30px;
				display: block;
				width: 70px;
				height: 78px;
				margin: 0;
				background: url('../img/all/logo-promueve-v.png') no-repeat left top;
				span{
					display: none;
				}
			}
		}
		.content{
			float: left;
			display: block;
			width: 510px;
			.address{
				font-weight: 300;
				font-style: italic;
				margin-bottom: 5px;
			}
			.phone{
				font-size: 16px;
				font-weight: 300;
				margin-bottom: 5px;
				.prefix{
					color: #999999;
					font-weight: 300;
				}
				abbr{
					border-bottom: 0;
				}
				a{
					@include transition(all, 0.2s);
				}
			}
			.copy{
				font-size: 11px;
				color: #777;
				margin-bottom: 5px;
			}
		}
	}
}

table{
	i{
		margin-right: 20px;
		cursor: -webkit-grab;
		vertical-align: super;
	}
	.btn{
		text-transform: uppercase;
		&.btn-primary{
			&:hover,
			&:focus{
				color: $white;
				background: $black;
			}
		}
	}
}

form{
	fieldset{
		margin-bottom: 30px;
		padding: 20px;
		border: 1px solid $gray-300;
		&.general{
			legend{
				background: $white;
				border-radius: 6px;
				border: 1px solid $white;
			}
		}
	}
	legend{
		border: none;
		margin: 0;
		padding: 0 10px;
		font-size: 24px;
		font-weight: 600;
		width: auto;
	}
	.required{
		font-size: 12px;
		color: $gray-400;
		margin-bottom: 30px;
	}
	.file{
		.selector{
			padding: 12px 20px;
			margin-bottom: 5px;
			border-radius: 6px;
			background: $gray-100;
			line-height: 1;
			color: $gray-300;
			font-size: $font-size-sm;
		}
	}
	.checkbox{
		margin-bottom: 5px
	}
	select{
		&.form-control{
			color: $input-placeholder-color!important;
		}
	}
	span{
		color: #ffeb00;
		font-weight: 600;
	}
	.info{
		margin-top: 10px;
		font-size: 12px;
		color: $gray-500;
		&:before{
			content: "\f05a";
			font-family: "FontAwesome";
			font-weight: normal;
			font-style: normal;
			color: $gray-300;
			display: inline-block;
			text-decoration: inherit;
			padding-right: 10px;
		}
	}
}

// extras

// buttons
button{
	&:focus{
		outline:0 !important;
	}
}
.btn{
	@include transition(all .2s);
}
.plus{
	&:before{
		content: "\f067";
		font-family: "FontAwesome";
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
		padding-right: 10px;
	}
}
.down{
	&:before{
		content: "\f063";
		font-family: "FontAwesome";
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
		padding-right: 10px;
	}
}
.back{
	&:before{
		content: "\f104";
		font-family: "FontAwesome";
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
		padding-right: 10px;
	}
}

.btn-primary{
	&:hover{
		background-color: $gray-200;
		border-color: $gray-200;
		color: $gray-500;
	}
	&:focus{
		background-color: $brand-primary;
		border-color: $brand-primary;
		color: $black;
	}
	&:active{
		@include box-shadow(inset 0 0 5px #e2e2e2);
	}
}
.link-add{
	text-align: right;
	margin-top: 30px;
}

.nav-tabs{
	margin-bottom: 40px;
	a{
		border: none;
		font-weight: 600;
		color: #999;
		text-transform: uppercase;
		@include transition(all, 0.2s);
		&:hover,
		&:focus{
			background: #fbfbfb;
		}
		&.active{
			font-weight: 600;
			color: $black;
		}
	}
}

//login
#login{
	background: $gray-100;
	#logo{
		width: 251px;
		height: 63px;
		margin: 0 0 30px 0;
		padding: 0;
		float: left;
		a{	
			@include transition(all, 0.2s);
			line-height:30px;
			display: block;
			float: left;
			width: 251px;
			height: 63px;
			margin: 0;
			background: url('../img/all/logo-cms.png') no-repeat left top;
			span{
				display: none;
			}
		}
	}
	form{
		margin-top: 100px;
		padding: 40px;
		border-radius: 6px;
		border: 2px solid $white;
		background: $white;
		@include box-shadow(inset 0 0 5px $gray-100);
	}
}

.table{
	tr{
		td,th{
			&.language{
				width: 140px;
			}
		}
	}
}

.gallery{
	margin: 30px 0 20px 0;
	padding-top: 20px;
	font-size: 16px;
	font-weight: 600;
	color: $black;
	text-transform: uppercase;
	border-top: 1px solid $white;
}
.remove-list{
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		margin: 5px 0 10px 25px;
		padding: 0;
		line-height: 1;
		cursor: pointer;
		&:before{
			content: "\f00d";
			font-family: "FontAwesome";
			font-weight: 500;
			font-style: normal;
			font-size: 16px;
			line-height: 1;
			color: #d9534f;
			display: inline-block;
			text-decoration: inherit;
			padding: 0 25px 0 0;
			position: absolute;
			margin-left: -25px;
		}
	}
}

// grind
.full-container{
	width: 100%;
}
.img-responsive{
	width:100%
}

// home
#home{
	.welcome{
		margin-bottom: 50px;
		padding: 30px 50px;
		border-radius: 12px;
		background: $gray-100;
		.title{
			margin: 0 0 5px 0;
			font-size: 30px;
			font-weight: 600;
		}
		.subtitle{
			margin: 0;
			font-size: 20px;
			font-weight: 300;
			color: $gray-500;
		}
	}
	section{
		margin-bottom: 20px;
		padding: 60px 0;
		text-align: center;
		border: 1px solid $gray-100;
		border-radius: 6px;
		h3{
			margin: 0 0 30px 0;
			.number{
				font-size: 40px;
				line-height: 40px;
				font-weight: 600;
				color: $brand-primary;
			}
			.title{
				font-size: 40px;
				line-height: 40px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
}

//products
#products{
	.table{
		margin:0;
		tr{
			td,th{
				padding:0;
				&.language{
					width: 140px;
				}
			}
			&.leaf{
				background: $gray-100;
				&.odd{
					background: $white;
				}
				td, th{
					padding: 14px;
				}
			}
		}
	}
}

// contact
#contact{
	.list{
		margin-bottom: 30px;
		color: $gray-900;
		font-size: 14px;
		padding: 0;
		width: auto;
		border-top: 1px solid #dedede;
		border-right: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		border-left: 2px solid #ffaa9f;
		li {
			list-style: none;
			border-bottom: 1px dotted #ccc;
			text-indent: 15px;
			height: auto;
			padding: 10px;
			@include transition(all .2s);
			span{
				font-family: courier, monospace;
				color: $gray-300;
			}
			&:hover{
				background: $gray-100;
			}
		}
	}
}

// help
#help{
	.subtitle{
		font-size: 22px;
		font-weight: 300;
		color: $gray-500;
		margin-bottom: 40px;
	}
	form{
		margin-bottom: 40px;
	}
	.contact-data{
		padding: 20px 0 30px 40px;
		margin-bottom: 50px;
		border-radius: 6px;
		background: $gray-100;
		.title{
			margin: 20px 0 5px 0;
			color: $black;
			text-transform: uppercase;
		}
		.phone{
			font-size: 22px;
			font-weight: 300;
			.prefix{
				color: #999999;
			}
			a{
				@include transition(all .2s);
				color: $gray-700;
				&:hover,
				&:focus{
					color: $link-hover-color;
				}
			}
		}
		.email{
			font-size: 16px;
			font-weight: 300;
			a{
				@include transition(all .2s);
				color: $gray-700;
				&:hover,
				&:focus{
					color: $link-hover-color;
				}
			}
		}
	}
}

// error
#error{
	text-align: center;
	.fa{
		font-size: 300px;
		color: $brand-primary;
	}
	.subtitle{
		font-size: 26px;
		font-weight: 300;
		color: $gray-700;
		margin-bottom: 40px;
	}
}

//remove-list
.remove-list{
	li{
		span{
			font-weight: 200;
			color: $body-color;
			display:block;
			width:100%;
		}
	}
}

// Large grid
@media (max-width: $screen-lg-min) {
	header{
		.navbar{
			.navbar-collapse{
				#nav-main{
					ul{
						li{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

// Medium grid
@media (max-width: $screen-md-min) {
	header{
		.navbar{
			.navbar-collapse{
				#nav-main{
					ul{
						li{
							a{
								font-size: 13px;
								padding: 10px 10px;
							}
						}
					}
				}
			}
		}
	}
	footer{
		.nav-footer{
			#nav-tools{
				text-align: center;
			}
			#nav-version{
				text-align: center;
			}
		}
	}
}

// Small grid
@media (max-width: $screen-sm-min) {
	header{
		.navbar{
			margin: 30px 0;
			.navbar-header{
				float: none;
				margin-bottom: 20px;
				#logo{
					width: 100%;
					float: none;
					a{	
						float: none;
						margin: 0 auto;
					}
				}
			}
			.profile{
				float: none;
				margin: 0 auto;
				width: 320px;
				.avatar{
					margin-right: 20px;
				}
			}
			.navbar-toggle{
				margin: 20px 0 0 0;
				width: 100%;
				border-radius: 0;
				border: 0;
				background: $brand-primary;
				color: $black;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				&:hover,
				&:focus{
					color: $white;
					background: $black;
				}
			}
			.menu{
				background: none;
			}
			.navbar-collapse{
				border-top: none;
				@include box-shadow(none);
				float: none;
				padding: 0;
				margin: 0;
				#nav-main{
					float: none;
					margin: 0 0 20px 0;
					ul{
						li{
							margin: 0;
							a{
								border-bottom: 1px solid $gray-100;
								font-size: 14px;
								line-height: 34px;
								text-align: center;
								color: $gray-900;
								background: $white;
								&:hover,
								&:focus{
									color: $gray-300;
								}
								&.active{
									color: $black;
									background: $gray-100;
									border-top: 1px solid $white;
								}
							}
						}
					}
				}
			}
		}
	}
	footer{
		.contact-info{
			width: 320px;
			.content{
				width: 230px;
				.address{
					span{
						display: block;
					}
				}
				.phone{
					span{
						display: block;
					}
				}
				.copy{
					span{
						display: block;
					}
				}
			}
		}
	}
	.link{
		text-align: center;
		.btn{
			width: 100%;
		}
	}
}

// Extra small grid
@media (max-width: $screen-xs-min) {
	header{
		.navbar{
			.profile{
				width: 280px;
				.data{
					margin-right: 10px;
				}
				.avatar{
					margin-right: 10px;
				}
				.website{
					.btn{
						font-size: 12px
					}
				}
			}
		}
	}
	footer{
		.contact-info{
			.content{
				width: 200px;
				.phone{
					font-size: $font-size-base;
				}
			}
		}
	}
}
