//colors
$primary: #5271FF;
$secondary: #00E5ED;
$gray:#393939;
$grayLight:#F9F9F9;
$grayDark:#333333;
$blue: #3AB5F2;
$blueLight:#00E5ED;
$workBlue: #2AADD5;
$workDarkBlue: #1D2088;
$workOrange: #F49506;
$workGreen: #2B942F;
$workPink: #D933C8;
$workYellow: #E7B400;
$black:#000000;
$magenta: #8094F2;
$orangeDark:#AC1A2F;
$body-color: #3C444C;
$spacer: 3rem !default;